/* .x_label, .y_label {
  fill: #F4F4F4;
} */

/* .x_axis {
  opacity: .25;
}

.y_axis {
  opacity: .25;
} */

.bin-rect {
  /*fill-opacity: .2;*/
  stroke-width: 2;
    /*outline-color: rgb(0, 0, 255);;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;*/
  transition: opacity 0.2s;
}

.faded {
    opacity: 0.4;
}