#star-view-drawer {
  position: fixed;
  padding: 30px 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #151515;
  transition: transform 0.5s;
}

#star-view-drawer.hide {
  transform: translateY(100%);
}

.drawer-tab {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #151515;
}

#star-view-drawer .drawer-tab {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%) translateY(-29px);
  transition: width 0.5s;
  min-width: 50%;
}

#star-view {
  height: 450px;
}

#target {
  margin: 40px 0;
}
.wrapper {
  position: relative;
  display: inline-block;
}
.chart {
  margin-bottom: 40px;
}
.star-title {
  font-size: 18px;
  font-family: proxima-nova, sans-serif;
  fill: #f4f4f4;
}
.star-label {
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  color: #f4f4f4;
  fill: #f4f4f4;
  fill-opacity: 0.3;
  pointer-events: none;
}
.star-remove {
  font-size: 18px;
  font-family: proxima-nova, sans-serif;
  fill: #f4f4f4;
  fill-opacity: 0.3;
}
.star-categories {
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  fill: #f4f4f4;
}
.star-origin {
  fill: #f4f4f4;
}
.star-axis {
  stroke: #f4f4f4;
  stroke-opacity: 0.1;
  stroke-width: 1px;
}
.star-path {
  stroke: #f4f4f4;
  stroke-width: 5px;
  fill: #f4f4f4;
  fill-opacity: 0;
}
.star-grid {
  stroke: #f4f4f4;
  stroke-opacity: 0.1;
  stroke-width: 1px;
  fill-opacity: 0;
}
.star-interaction {
  opacity: 0;
}
.interaction {
  pointer-events: none;
}
.interaction.label {
  position: absolute;
  font-size: 11px;
  text-shadow: 0 1px 0 #FFF, 0 -1px 0 #FFF, 1px 0 #FFF, -1px 0 #FFF;
}
.interaction.circle {
  fill: #444;
  fill-opacity: 0.6;
  stroke: #444;
}
