body {
  background-color: black;
  color: white;
  font-family: "Arial";
}

.x_label, .y_label {
  fill: white;
}

rect {
  fill-opacity: .2;
  stroke-width:3;
   /* outline-color: rgb(0, 0, 255);;*/
 /* outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;*/
}

.outlined {

  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

